numpy>=0.16.0
spicy
matplotlib
pandas>=1.0.5
pycryptodome==3.9.7
cryptography==2.9.2
boto3>=1.10.17
scikit-learn>=0.21.0
seaborn

flatBuffers
attrs
cattrs
msgpack-python
JMESPath
flask
jsonlines
aenum
pyjwt==1.7.1
pyinstaller==4.10
pyinstaller-hooks-contrib
tinyaes==1.0.3
pywebview==3.3.3
cefpython3==66.1
Statsmodels
ruptures
rx
flask_cors
pyftdi
win32gui
pypiwin32
lmxl
openpyxl
git+https://git-codecommit.ap-northeast-1.amazonaws.com/v1/repos/ProcessParadigm@0.1.0.a1



Sphinx